<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шкуропатов Андрей. Лабораторная {{ number_lab }}</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная {{ number_lab }}
    </header>

    <main>
        Основной контент
    </main>

    <footer>
        &copy; {{ name }}, ФБИ-{{ number_group }}, {{ number_course }} курс, 2025
    </footer>
</body>
</html>